#sqetch_main {

  #sqetches {
    .row {
      margin-left: 25%;
    }
  }

  .whole {
    // color: #70B8FF;
  }

  .sqetch {
    height: 105px;
    // color: #fff;
    border: #B2E6FF 1px solid;
    margin:10px;
  }
}

@media (max-width: 750px) {
  #sqetch_main {
    #sqetches .row {
      margin-left:10px;
    }
  }
}

::-moz-selection { /* Code for Firefox */
    // color: red;
    background: #3FDDBA;
}

::selection {
    // color: red; 
    background: #3FDDBA;
}